.MedicineContainer {
  width: 98%;
  margin-left: 25%;
  border-color: rgb(0, 0, 0);
  height: 500px;
}

.horizonalLine {
  width: 200px;
  opacity: 1px;
  margin-left: 14%;
}

.product-header {
  margin-right: 58%;
}

.Button-Reset {
  background-color: #217fd6;
  color: #ffffff;
  padding: 6px;
  border: #217fd6;
  margin-top: 20px;
  
  width: 140px;
  height: 50px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
}

.Button-Add {
  background-color: #078d3a;
  color: #ffffff;
  padding: 6px;
  border: #0c6464;
  margin-top: 20px;
  margin-left: 50px;
  width: 160px;
  height: 65px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
  margin-right: 70%;
}

.Button-Reset:hover,
.Button-Add:hover {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}

.Button-edit {
  background-color: #078d3a;
  color: #ffffff;
  padding: 6px;
  border: #0c6464;
  margin-top: 20px;
  margin-left: 50px;
  width: 70px;
  height: 40px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.Button-delete {
  background-color: #bb3333;
  color: #ffffff;
  padding: 6px;
  border: #0c6464;
  margin-top: 20px;
  margin-left: 30px;
  width: 70px;
  height: 40px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.Button-edit:hover,
.Button-delete:hover {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}
